In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [4]:
df = pd.read_csv('usedcars.csv')

In [5]:
df.head()

   year model  price  mileage   color transmission
0  2011   SEL  21992     7413  Yellow         AUTO
1  2011   SEL  20995    10926    Gray         AUTO
2  2011   SEL  19995     7351  Silver         AUTO
3  2011   SEL  17809    11613    Gray         AUTO
4  2012    SE  17500     8367   White         AUTO

In [6]:
color_counts = df['color'].value_counts().reset_index()
color_counts.columns = ['color', 'count']
color_counts

    color  count
0   Black     35
1  Silver     32
2     Red     25
3    Blue     17
4   White     16
5    Gray     16
6   Green      5
7  Yellow      3
8    Gold      1